In [126]:
import pandas as pd
import numpy as np

In [127]:
dataset_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(dataset_url)

In [128]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [129]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
 4   class         149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [130]:
iris.loc[10:29, "petal_length"] = np.nan
iris.loc[10:29, "petal_length"]

10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
Name: petal_length, dtype: float64

In [139]:
iris['petal_length'] = iris["petal_length"].fillna(1.0)
iris.loc[10:29, "petal_length"]

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.5
28    1.5
29    1.4
Name: petal_length, dtype: float64

In [132]:
del iris['class']

In [133]:
iris.iloc[:3] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [134]:
iris.dropna(how='any', inplace=True)

In [135]:
iris.reset_index(drop=True, inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.6           1.4          0.2
1           5.4          3.9           1.7          0.4
2           4.6          3.4           1.4          0.3
3           5.0          3.4           1.5          0.2
4           4.4          2.9           1.4          0.2

#### calculate sepal_size and petal_size  (lenght * width)

In [136]:
new_columns = [iris['sepal_length'] * iris['sepal_width'], iris['petal_length'] * iris['petal_width']]

In [137]:
new_columns_df = pd.concat(new_columns, axis=1)
new_columns_df.columns = ['sepal_size', 'petal_size']

In [138]:
iris = pd.concat([iris, new_columns_df], axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,sepal_size,petal_size
0,5.0,3.6,1.4,0.2,18.00,0.28
1,5.4,3.9,1.7,0.4,21.06,0.68
2,4.6,3.4,1.4,0.3,15.64,0.42
3,5.0,3.4,1.5,0.2,17.00,0.30
4,4.4,2.9,1.4,0.2,12.76,0.28