In [5]:
import pandas as pd

In [78]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chico = pd.read_csv(url, sep="\t")

In [14]:
chico.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [16]:
chico.shape

(4622, 5)

In [17]:
chico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [18]:
len(chico.columns)

5

In [19]:
chico.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [20]:
chico.index

RangeIndex(start=0, stop=4622, step=1)

In [100]:
item_grps = chico.groupby('item_name')
filt = item_grps['quantity'].sum() == item_grps['quantity'].sum().max()

mask = chico['item_name'].map(filt)
filtered_chico_item = chico[mask]
filtered_chico_item
# item_grps['quantity'].sum().sort_values(ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [101]:
filtered_chico_item['quantity'].sum()

761

In [106]:
chico.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)

C:\Users\Gopinath\AppData\Local\Temp\ipykernel_24204\1375485278.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chico.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

In [109]:
chico['quantity'].sum()

4972

In [69]:
# chico['item_price'] = [float(price[1:]) for price in chico['item_price']]
# chico['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [83]:
chico['item_price'].dtype

dtype('float64')

In [80]:
chico['item_price'] = chico['item_price'].apply(lambda x: float(x[1:]))

In [85]:
chico['item_price'].dtype

dtype('float64')

In [129]:
(chico['item_price'] * chico['quantity']).sum()

39237.02

In [114]:
len(chico['order_id'].unique())

1834

In [142]:
chico['revenue'] = chico['quantity'] * chico['item_price']
order_grouped = chico.groupby('order_id')['revenue'].sum()
order_grouped.mean()

21.39423118865867

In [143]:
len(chico['item_name'].unique())

50