In [1]:
import pandas as pd

In [46]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

In [48]:
pokemon = pd.DataFrame(data)

In [49]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [50]:
place = pd.Series(['Mount Area', 'Valconic', 'Sea Bank', 'GrassLand'], name='Place')

In [51]:
# pd.concat([pokemon, place], axis=1)
pokemon['Place'] = place
pokemon

         name   type  hp   evolution pokedex       Place
0   Bulbasaur  grass  45     Ivysaur     yes  Mount Area
1  Charmander   fire  39  Charmeleon      no    Valconic
2    Squirtle  water  44   Wartortle     yes    Sea Bank
3    Caterpie    bug  45     Metapod      no   GrassLand

In [32]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   Place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

#### Change the pokedex column to a boolean value

In [52]:
pokemon['pokedex'].replace({'yes': True, 'no': False}, inplace=True)
pokemon

         name   type  hp   evolution  pokedex       Place
0   Bulbasaur  grass  45     Ivysaur     True  Mount Area
1  Charmander   fire  39  Charmeleon    False    Valconic
2    Squirtle  water  44   Wartortle     True    Sea Bank
3    Caterpie    bug  45     Metapod    False   GrassLand

#### print the name of pokename with max hp grouped by pokedex

In [67]:
filt = pokemon.groupby('pokedex').hp.idxmax()

In [69]:
pokemon.loc[filt]

        name   type  hp evolution  pokedex       Place
3   Caterpie    bug  45   Metapod    False   GrassLand
0  Bulbasaur  grass  45   Ivysaur     True  Mount Area